:root {
  --font-round: 'Crete Round', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --nav-background: #3c3a39;
  --main-background: #1c1a19;
  --font-white: #fff;
  --font-orange: #ff6b00;
}

/* Base */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: var(--main-background);
  color: var(--font-white);
  font-family: var(--font-inter);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar */
.header {
  background: var(--nav-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
  height: 10vh;
}

.menu-button {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open {
  background: url('./images/Menu-icon.png') no-repeat;
  padding: 20px;
}

/* main */

.home-section {
  height: 590px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  background-color: var(--main-background);
  align-items: flex-start;
  line-height: 24px;
  gap: 12px;
}

.home-pag-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  margin: 10px 0;
  line-height: 114%;
}

.discription-header {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.discription-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.media-icons-container {
  display: flex;
  align-items: center;
}

.media-icon {
  margin: 5px;
}

.illustration-header {
  background-image: url('./images/background-img.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 55%;
  width: 150px;
  height: 360px;
}
