:root {
  --my-font-crete: 'Crete Round', serif;
  --font-sans: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --nav-background: #3c3a39;
  --main-background: #1c1a19;
  --font-white: #fff;
  --font-orange: #ff6b00;
  --font-blue: #091e42;
  --font-contact-form: #172b4d;
  --font-black: #000;
}

/* Base */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: var(--main-background);
  color: var(--font-white);
  font-family: var(--font-inter);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

ul {
  list-style-type: none;
}

.flex-center {
  display: flex;
  align-items: center;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid var(--font-orange);
  color: var(--font-orange);
}

.btn:active {
  background: #e05304;
  color: var(--font-white);
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* Navbar */

.head-nav-lists {
  display: none;
}

.header {
  background: var(--nav-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
  height: 10vh;
}

.menu-button {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open {
  background: url('./images/Menu-icon.png') no-repeat;
  padding: 20px;
}

/* main */

.home-section {
  height: 590px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--main-background);
  align-items: flex-start;
  line-height: 24px;
  gap: 12px;
  background-image: url('./images/background-img.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 115%;
}

.home-page-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  margin-top: 80px 0;
  line-height: 114%;
}

.discription-header {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.discription-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.media-icons-container {
  display: flex;
  align-items: center;
}

.media-icon {
  margin: 5px;
}

/* work section */

.work-section-container {
  width: 100%;
  background: var(--font-white);
  color: var(--main-background);
  padding: 20px 1.4rem;
}

.work-title-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 80px;
}

.work-title-header {
  margin-top: 100px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font-round);
  font-style: normal;
}

.title-separator {
  width: calc(100% - 0px / 2 + 0.5px);
}

.gym-fit-img {
  width: 100%;
}

.work-card-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.post-header {
  font-size: 32px;
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: var(--font-blue);
}

.work-post-description {
  color: var(--font-blue);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.work-items {
  box-sizing: border-box;
  padding: 10px 12px;
  background: var(--font-white);
  border: 1px solid #8993a4;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--font-blue);
}

.project-button {
  font-family: var(--font-inter);
  color: var(--font-white);
  background: var(--font-orange);
  padding: 12px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.work-card-holder {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/Img-Placeholder-2.png);
  background-size: cover;
  padding-top: 72px;
}

.info-card-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  color: var(--font-white);
}

.work-project-header {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.work-card-description {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-tag-items {
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  float: right;
  margin-right: 8px;
}

.work-button-section {
  margin-top: 22px;
}

.card-button {
  padding: 13px 0;
  background: var(--font-orange);
  cursor: pointer;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

/* About */

.about {
  text-align: center;
  background: var(--main-background);
  padding: 0%;
  margin: 0%;
}

.about-me-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  padding-top: 100px;
}

.about-me-description {
  margin: 20px;
  text-align: left;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.my-resume-button {
  margin: 10px 20px;
  font-family: var(--font-inter);
  color: var(--font-white);
  background: var(--font-orange);
  padding: 12px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.about-illustration {
  width: 100%;
  text-align: right;
  padding-top: -80px;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 1px solid white;
}

.about-separator {
  width: calc(90% - 0px / 2 + 0.5px);
  border: 1px solid var(--font-white);
}

/* SKILLS */

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 38px;
  gap: 24px;
  color: #fff;
}

.skills-header {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.my-skill-list {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

/* contact form */

.contact-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  padding: 24px;
  flex-direction: column;
}

.contact-section h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  font-size: 2em;
  padding-top: 15vh;
  margin-bottom: 10vh;
}

.contact-form {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  width: 100%;
  border-bottom: 0.5px solid lightgray;
  padding: 5vh 0 2vh 2vh;
  margin-bottom: 2vh;
}

#error-message {
  color: red;
  display: block;
}

.contact-form textarea {
  width: 100%;
  height: 20vh;
  background: #fbf8f7;
  margin: 2vh 0;
  padding: 2vh 2vh 0;
  font-family: var(--font-inter);
  font-style: italic;
  font-size: 15px;
}

.submit-btn {
  width: 40%;
  background: var(--font-orange);
  padding: 4%;
  color: var(--font-white);
  font-size: 1em;
  border: none;
  font-family: var(--font-inter);
  font-weight: 700;
}

.submit-btn:hover {
  background: #fff5e1;
  border: 1px solid var(--font-orange);
  color: var(--font-orange);
}

.submit-btn:active {
  background: #e05304;
  color: var(--font-white);
}

.submit-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

footer ul {
  justify-content: center;
}

.form-media-icons {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dfe1e6;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: #505f79;
  background-color: var(--font-white);
  background-repeat: no-repeat;
  background-position: bottom;
}

.contac-separator {
  width: calc(100% - 0px / 2 + 0.5px);
  border: 1px solid var(--font-black);
}

@media screen and (min-width: 768px) {
  .head-nav-lists {
    display: flex;
    flex-direction: row;
    font-family: var(--font-inter);
    font-size: 15px;
    line-height: 20px;
    margin-right: 10px;
  }

  .head-nav-lists li {
    padding: 10px;
  }

  .my-logo {
    margin-left: 55px;
    transition: width 2s, height 2s, background-color 2s, rotate 2s;
  }

  .my-logo:hover {
    rotate: 360deg;
  }

  .menu-button {
    display: none;
  }

  .home-section {
    display: flex;
    background-image: url('./images/Illustration-header.svg');
    background-size: 42%;
    background-position-x: 100%;
    background-position-y: 61%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .home-page {
    width: 50vw;
    margin-left: 4em;
    gap: 1em;
  }

  .home-page-header {
    font-style: normal;
    font-size: 72px;
    line-height: 82px;
  }

  .media-icons-container {
    display: flex;
    flex-direction: column;
  }

  .work-title-card {
    margin-top: 100px;
    display: flex;
  }

  .work-card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 20px;
    padding-left: 8.4%;
  }

  .work-card-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 80%;
    padding-left: 2%;
  }

  .post-header {
    font-family: var(--font-round);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work-post-description {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .work-title-header {
    margin: 0;
    font-family: var(--my-font-crete);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    padding-left: 8.4%;
    width: 50%;
  }

  .title-separator {
    width: 100%;
    padding-right: 10%;
  }

  .work-card {
    width: 23.1rem;
    height: 31.7rem;
    overflow: hidden;
    margin-bottom: 1.9%;
  }

  .work-card-holder {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8.5%;
    gap: 2.6%;
    margin-bottom: 9.34%;
  }

  .info-card-holder {
    padding-top: 40%;
    gap: 2rem;
  }

  .card-button {
    display: none;
  }

  .about-me-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-me-sub-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 110px 0;
    gap: 24px;
    padding-left: 18%;
    padding-top: 4%;
  }

  .about-me-header {
    line-height: 82px;
    padding-left: 2.5%;
  }

  .about-me-description {
    font-size: 20px;
    line-height: 32px;
  }

  .my-resume-button {
    padding: 12px;
    gap: 10px;
  }

  .about-illustration img {
    display: none;
  }

  .about-illustration {
    margin: 110px 0;
    background: url('./images/illustration-about me.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: 100%;
  }

  .my-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 9%;
    gap: 152px;
    padding-bottom: 9.2%;
  }

  .my-skills ul li {
    text-align: start;
    padding-top: 3.5%;
  }

  .about-separator {
    width: 79.9%;
  }

  .contact-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .contact-section h2 {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: start;
    color: #262626;
    padding-left: 7.2%;
    padding-top: 7.5%;
    width: 58%;
  }

  .contact-form textarea {
    width: 100%;
    height: 7.2rem;
    background: #fbf8f7;
    margin: 2vh 0;
    padding: 2vh 2vh 0;
    font-family: var(--font-inter);
    font-style: italic;
    font-size: 15px;
  }

  .contact-form {
    width: 90%;
    margin-top: 81px;
    margin-bottom: 54px;
    justify-content: center;
    align-items: start;
    padding-left: 2.4%;
  }

  textarea::placeholder {
    font-style: italic;
    color: var(--main-background);
  }

  .submit-btn {
    padding: 12px;
    gap: 10px;
    align-self: start;
    width: 124px;
  }
}

@media screen and (min-width: 992px) {
  /* main */
  .home-page-header {
    font-size: 72px;
    line-height: 82px;
    font-style: normal;
  }

  .discription-header {
    font-size: 32px;
    line-height: 44px;
  }

  .discription-paragraph {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 32px;
  }

  .work-card-holder {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
